@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  background-image: url('../images/sky.jpg');
  background-size: cover;
  background-attachment: fixed;
  overflow: scroll;
  display: flex;
  justify-content: center;
  font-family: 'Nunito', sans-serif;
}

h2 {
  margin: 0 0 12px 0;
}

h1, h3, p {
  margin: 0;
}

h4 {
  margin: 12px 0 12px 0;
  font-size: 18px;
}

.card--weather {
  background: rgb(56,136,255);
  background: linear-gradient(180deg, rgb(57, 99, 251) 0%, rgb(24, 197, 255) 100%);
  color: white;
  height: 600px;
  width: 600px;
  position: relative;
  display:flex;
  justify-content: center;
  margin-top: 20%;
  border-radius: 16px;
}
.card--weather.night {
  background: rgb(56,136,255);
  background: linear-gradient(180deg, rgb(9, 12, 23) 0%, rgb(7, 30, 85) 100%);
}
.card--weather.sunset {
  background: rgb(56,136,255);
  background: linear-gradient(180deg, rgb(137, 19, 221) 0%, rgb(210, 20, 99) 50%, rgb(241, 91, 49) 100%);
}

.weather--units {
  position: absolute;
  top: 20px;
  right: 20px;
}

.weather--units button {
  background: transparent;
  color: white;
  font-family: inherit;
  font-size: 18px;
  border: none;
  opacity: 0.7;
  cursor: pointer;
}

.weather--units button.selected {
  font-weight: 700;
  opacity: 1;
}

.weather--info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weather--details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.weather--details img {
  height: 100px;
}

.weather--temp {
  font-size: 80px;
}

input {
  background-color: rgba(0,0,0,0);
  color: #ffffff;
  width: 200px;
  font-size: 34px;
  text-align: center;
  border: none;
  border-bottom: 1px solid white;
  margin: 0 0 24px 0;
}

.btn--submit {
  display: none;
}

.weather--details img {
  filter: brightness(0) invert(1);
}

.weather--forecast-hourly{
  display: flex;
  gap: 24px;
}

.weather--forecast-daily {
  display: flex;
  gap: 18px;
}

.weather--forecast.daily .weather--forecast-hourly,
.weather--forecast.hourly .weather--forecast-daily {
  display: none;
}

.weather--forecast-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-forecast-details-range {
  display: flex;
  font-size: 10px;
  gap: 4px;
}

.weather-forecast-details-day {
  font-weight: 700;
}

.weather--forecast-details img {
  height: 50px;
  filter: brightness(0) invert(1);
}

.btn---five-day {
  background: transparent;
  color: white;
  font-family: inherit;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid white;
  border-radius: 4px;
  padding: 8px 12px;
  margin-top: 28px;
  transition: 0.3s;
  cursor: pointer;
}
.btn---five-day:hover {
  background-color: rgb(255, 255, 255);
  color: rgba(30, 146, 224, 0.784);
}
.card--weather.sunset .btn---five-day:hover {
  background-color: rgb(255, 255, 255);
  color: rgba(197, 57, 32, 0.784);
}
.card--weather.night .btn---five-day:hover {
  background-color: rgb(255, 255, 255);
  color: rgba(6, 5, 80, 0.784);
}
